<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<p>List of available currency Assets:</p>
<table border="1px">
    <tr>
        <th>Pricing Date</th>
        <th>Short Name</th>
        <th>Long Name</th>
        <th>Description</th>
        <th>Number Units</th>
        <th>Pricing</th>
        <th>Action</th>
    </tr>
    <tr th:each="currency : ${currencies}">
        <td th:text="${currency.pricingDate}"></td>
        <td th:text="${currency.assetShortName}"></td>
        <td th:text="${currency.assetLongName}"></td>
        <td th:text="${currency.assetDescription}"></td>
        <td th:text="${currency.numberUnits}"></td>
        <td th:text="${currency.pricing}"></td>
        <td th:text="${currency.transactionType}"></td>
        <td><a th:href="@{/currency_remove(timestamp=${currency.pricingDate},long_name=${currency.assetLongName},short_name=${currency.assetShortName},transaction_type=${currency.transactionType})}">REMOVE</a></td>
    </tr>
</table>
<br>
<a href="/home"><-HOME PAGE</a>
</body>
</html>