<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metals Buy Page</title>
</head>
<body>
<p>Buy Precious Metals Asset:</p>
<form action="#" th:action="@{/metal_buy}" th:object="${metal}" method="post">
   <table cellpadding="5">
       <tr>
           <td><label for="assetLongName">Long Name</label></td>
           <td><input type="text" th:field="*{assetLongName}" id="assetLongName" placeholder="assetLongName"></td>
       </tr>
       <tr>
           <td><label for="assetDescription">Description</label></td>
           <td><input type="text" th:field="*{assetDescription}" id="assetDescription" placeholder="assetDescription"></td>
       </tr>
       <tr>
           <td><label for="assetShortName">Metal Type</label></td>
           <td>
               <select th:field="*{assetShortName}" id="assetShortName" placeholder="assetShortName">
                   <option th:value="'GOLD'" th:text="'GOLD'"></option>
                   <option th:value="'SILVER'" th:text="'SILVER'"></option>
               </select>
       </tr>
       <!--<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
       <tr>
           <td><label for="pricing">Pricing</label></td>
           <td> <input type="text" th:field="*{pricing}" id="pricing" placeholder="pricing"></td>
       </tr>
       <tr>
           <td><label for="pricingDateFormatted">Pricing Date</label></td>
           <td> <input type="date"  th:field="*{pricingDateFormatted}" id="pricingDateFormatted" placeholder="pricingDateFormatted"></td>
       </tr>
       <tr>
           <td><label for="numberUnits">Number of Units</label></td>
           <td> <input type="text" th:field="*{numberUnits}" id="numberUnits" placeholder="numberUnits"></td>
       </tr>
       <tr>
           <td><label for="assetClass">Asset Class</label></td>
           <td> <input type="text" th:field="*{assetClass}" id="assetClass" placeholder="assetClass" readonly></td>
       </tr>
       <tr>
           <td><label for="transactionType">Transaction Type</label></td>
           <td> <input type="text" th:field="*{transactionType}" id="transactionType" placeholder="transactionType" readonly></td>
       </tr>
       <tr><td><input type="submit" value="Add Metals Asset"></td><td></td></tr>
   </table>
</form>
<br>
<a href="/home"><-HOME PAGE</a>
</body>
</html>